<div class="desktop2">
  <div class="overlap-group-wrapper">
    <div class="overlap-group2">
      <div class="view2">
        <div class="frame2">
          <div class="text-wrapper2">はい</div>
        </div>
        <div class="frame3">
          <div class="text-wrapper2">いいえ</div>
        </div>
      </div>
      <form>
        <div class="div2">
          <div class="frame2-2">
            <div class="moji">{{ infoId }}</div>
          </div>
          <div class="frame2-3">
            <div class="moji">{{ infoName }}</div>
          </div>
        </div>
      </form>
      <div class="view2-2">
        <div class="text-wrapper2-2">この内容で登録しますか？</div>
      </div>
      <div class="view2-3"><div class="text-wrapper2-3">確認画面</div></div>
    </div>
  </div>
</div>
