<h1>{{ title }}</h1>
<form>
  <input type="text" placeholder="id" id="idText" #id />
  <input type="text" placeholder="name" id="nameText" #name />
  <button
    class="get"
    type="button"
    id="getButton"
    (click)="getDemoPerson(id.value)"
  >
    取得
  </button>
  <button
    class="put"
    type="button"
    (click)="postDemoPerson(id.value, name.value)"
  >
    登録
  </button>
  <button
    class="post"
    type="button"
    (click)="putDemoPerson(id.value, name.value)"
  >
    更新
  </button>
  <button class="delete" type="button" (click)="deleteDemoPerson(id.value)">
    削除
  </button>
  <div>{{ msg | json }}</div>
</form>
